/*! * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  * Copyright (c) 2022.  Hochschule Stralsund – University of Applied Sciences
  * The following Code is licensed under the GNU General Public License (GPL) v3.0.
  * https://gitlab.com/wedemann-group/chromatin3d-visualizer/-/blob/master/LICENSE
  *
  * Corresponding Person:
  *     Prof. Gero Wedemann <gero.wedemann@hochschule-stralsund.de>
  *
  * Contributors:
  *     Leif-Kristof Schultz <contact@lui-studio.net>
  *     Frederic Bauer
  *     Janne Wernecken
  *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

.info-table {
  display: table;
  table-layout: fixed;
  padding: 0.5em 0;

  & > * {
    display: table-row;

    & > * {
      display: table-cell;
      padding: 0.3em 0;
    }
  }

  .website {
    margin-left: 1rem;
  }

  & .info-table {
    padding: 0;

    & > * {
      & > * {
        padding: 0.1em 0;
      }
    }
  }
}

.row-small-space-to-right-side {
  padding-right: 1em !important;
}
