/*! * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  * Copyright (c) 2022.  Hochschule Stralsund – University of Applied Sciences
  * The following Code is licensed under the GNU General Public License (GPL) v3.0.
  * https://gitlab.com/wedemann-group/chromatin3d-visualizer/-/blob/master/LICENSE
  *
  * Corresponding Person:
  *     Prof. Gero Wedemann <gero.wedemann@hochschule-stralsund.de>
  *
  * Contributors:
  *     Leif-Kristof Schultz <contact@lui-studio.net>
  *     Frederic Bauer
  *     Janne Wernecken
  *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

:host {
  display: block;

  .holder {
    display: flex;
    flex-direction: row;
    align-items: center;

    &.xs {
      display: block;
    }

    & > span:first-of-type {
      flex: 1;
      margin-right: 0.75em;
    }
  }

  .mat-slider-holder {
    display: flex;
  }

  .slider {
    flex: 1;
    min-width: 20px !important;
  }

  .mat-slider-horizontal {
    width: 100%;
    margin-bottom: 0.3rem;
    cursor: pointer;
    min-width: 100px;
  }

  .mat-form-current-index {
    width: 100%;
  }

  .maximum-value {
    margin-bottom: 0.3rem;
    margin-left: 1rem;
  }

  .sub-stats {
    display: flex;
    flex-direction: row;
    align-items: center;

    &.xs > * {
      flex: 1;
    }
  }

  .numeric-box {
    width: 75px;
  }
}
