/*! * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  * Copyright (c) 2022.  Hochschule Stralsund – University of Applied Sciences
  * The following Code is licensed under the GNU General Public License (GPL) v3.0.
  * https://gitlab.com/wedemann-group/chromatin3d-visualizer/-/blob/master/LICENSE
  *
  * Corresponding Person:
  *     Prof. Gero Wedemann <gero.wedemann@hochschule-stralsund.de>
  *
  * Contributors:
  *     Leif-Kristof Schultz <contact@lui-studio.net>
  *     Frederic Bauer
  *     Janne Wernecken
  *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

:host {
  .holder {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .information-loader {
    background-color: rgb(0 0 0 / 0.5);
    display: flex;
    position: absolute;
    inset: 0;
    padding: 0.35rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 160%;
    line-height: 1.5;
    z-index: 10;
  }

  .link-example {
    &,
    &:visited {
      color: #58d9ff;
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .tool-distance-measurement-holder {
    cursor: crosshair;
  }

  .tool-distance-measurement {
    pointer-events: none;
  }

  .full-screen {
    position: absolute;
    inset: 0;
    width: 100% !important;
    height: 100% !important;
  }

  #render-canvas {
    position: absolute;
    inset: 0;
    width: 100% !important;
    height: 100% !important;
  }

  #tool-distance-measurement {
    z-index: 6;
  }

  #stats {
    position: absolute;
    top: 0;
    right: 0;
  }

  #coordinate-cross {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 150px;
    height: 150px;
    pointer-events: none;
    z-index: 5;
  }

  #web-xr-view-button {
    position: absolute;
    left: 5px;
    bottom: 5px;
  }
}
