/*! * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  * Copyright (c) 2022.  Hochschule Stralsund – University of Applied Sciences
  * The following Code is licensed under the GNU General Public License (GPL) v3.0.
  * https://gitlab.com/wedemann-group/chromatin3d-visualizer/-/blob/master/LICENSE
  *
  * Corresponding Person:
  *     Prof. Gero Wedemann <gero.wedemann@hochschule-stralsund.de>
  *
  * Contributors:
  *     Leif-Kristof Schultz <contact@lui-studio.net>
  *     Frederic Bauer
  *     Janne Wernecken
  *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

:host {
  .tab-page {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  .option-item {
    display: grid;
    grid-template-columns: 1fr auto auto;

    & > * {
      align-self: center;
    }
  }

  ::ng-deep .mat-list-text {
    padding: 0 !important;
  }

  // stylelint-disable-next-line selector-class-pattern
  ::ng-deep .mdc-list-item__end {
    display: none;
  }

  .list {
    user-select: none;
  }

  .full-row {
    width: 100%;
  }
}
