/*! * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  * Copyright (c) 2022.  Hochschule Stralsund – University of Applied Sciences
  * The following Code is licensed under the GNU General Public License (GPL) v3.0.
  * https://gitlab.com/wedemann-group/chromatin3d-visualizer/-/blob/master/LICENSE
  *
  * Corresponding Person:
  *     Prof. Gero Wedemann <gero.wedemann@hochschule-stralsund.de>
  *
  * Contributors:
  *     Leif-Kristof Schultz <contact@lui-studio.net>
  *     Frederic Bauer
  *     Janne Wernecken
  *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

@import '../../../../../variables';

:host {
  .tab-page-grid:not(.xs) {
    grid-template-columns: auto 1fr;
  }

  ::ng-deep {
    .mat-form-field-infix {
      width: 30px !important;
    }
  }

  .full-row {
    display: block;
    width: 100%;
    margin-top: 0.75rem;
  }

  .submit-button-holder {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .submit-button {
    width: calc(100% - 2px);
  }

  .simple-button {
    white-space: pre-wrap !important;
    line-height: 25px;
  }

  .grid-item-field {
    width: 100%;
  }

  .label-affected-beads {
    padding-top: 1.5rem;
  }

  .selection-buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;

    > * {
      flex: 1;
    }
  }

  .select-box-padding {
    margin-bottom: $select-box-padding-bottom;
  }
}
