/*! * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  * Copyright (c) 2022.  Hochschule Stralsund – University of Applied Sciences
  * The following Code is licensed under the GNU General Public License (GPL) v3.0.
  * https://gitlab.com/wedemann-group/chromatin3d-visualizer/-/blob/master/LICENSE
  *
  * Corresponding Person:
  *     Prof. Gero Wedemann <gero.wedemann@hochschule-stralsund.de>
  *
  * Contributors:
  *     Leif-Kristof Schultz <contact@lui-studio.net>
  *     Frederic Bauer
  *     Janne Wernecken
  *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

.tab-page-grid:not(.xs) {
  grid-template-columns: minmax(10px, 25px) 1fr;
}

.tab-page-grid > * {
  align-self: baseline;
}

.description-value {
  & > *:last-child {
    font-size: 90%;
  }
}
