/*! * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  * Copyright (c) 2022.  Hochschule Stralsund – University of Applied Sciences
  * The following Code is licensed under the GNU General Public License (GPL) v3.0.
  * https://gitlab.com/wedemann-group/chromatin3d-visualizer/-/blob/master/LICENSE
  *
  * Corresponding Person:
  *     Prof. Gero Wedemann <gero.wedemann@hochschule-stralsund.de>
  *
  * Contributors:
  *     Leif-Kristof Schultz <contact@lui-studio.net>
  *     Frederic Bauer
  *     Janne Wernecken
  *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

:host {
  h3 {
    margin-bottom: 0.1rem !important;
  }

  .category {
    margin-bottom: 2rem;
  }

  .mat-expansion-panel-header.mat-expanded {
    border-bottom: 1px solid rgb(220 220 220);
    border-radius: 0;
    margin-bottom: 2rem;
  }

  .item {
    padding: 1rem 0;

    &:first-of-type,
    &:last-of-type {
      padding: 0;
    }
  }
}
