/*! * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  * Copyright (c) 2022.  Hochschule Stralsund – University of Applied Sciences
  * The following Code is licensed under the GNU General Public License (GPL) v3.0.
  * https://gitlab.com/wedemann-group/chromatin3d-visualizer/-/blob/master/LICENSE
  *
  * Corresponding Person:
  *     Prof. Gero Wedemann <gero.wedemann@hochschule-stralsund.de>
  *
  * Contributors:
  *     Leif-Kristof Schultz <contact@lui-studio.net>
  *     Frederic Bauer
  *     Janne Wernecken
  *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

@use 'sass:color';

@function get-arrow-left($color) {
  @return get-arrow($color, "<polygon points='0,50 50,100 50,0'/>");
}

@function get-arrow-right($color) {
  @return get-arrow($color, "<polygon points='0,0 0,100 50,50'/>");
}

@function get-arrow-top($color) {
  @return get-arrow($color, "<polygon points='50,00 0,50 100,50'/>");
}

@function get-arrow-bottom($color) {
  @return get-arrow($color, "<polygon points='0,0 100,0 50,50'/>");
}

@function get-arrow($color, $content) {
  $red: color.red($color);
  $green: color.green($color);
  $blue: color.blue($color);

  @return url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(#{$red}, #{$green}, #{$blue})'>#{$content}</svg>");
}
