/*! * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  * Copyright (c) 2022.  Hochschule Stralsund – University of Applied Sciences
  * The following Code is licensed under the GNU General Public License (GPL) v3.0.
  * https://gitlab.com/wedemann-group/chromatin3d-visualizer/-/blob/master/LICENSE
  *
  * Corresponding Person:
  *     Prof. Gero Wedemann <gero.wedemann@hochschule-stralsund.de>
  *
  * Contributors:
  *     Leif-Kristof Schultz <contact@lui-studio.net>
  *     Frederic Bauer
  *     Janne Wernecken
  *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

// scrollbar
@import 'button-generator';

@mixin scrollbar($scrollbar-button-color, $scrollbar-button-color-hover) {
  ::-webkit-scrollbar-button:single-button {
    &:vertical {
      background-image: get-arrow-top($scrollbar-button-color);

      &:decrement:hover {
        background-image: get-arrow-top($scrollbar-button-color-hover);
      }

      &:increment {
        background-image: get-arrow-bottom($scrollbar-button-color);
      }

      &:increment:hover {
        background-image: get-arrow-bottom($scrollbar-button-color-hover);
      }
    }

    &:horizontal {
      background-image: get-arrow-left($scrollbar-button-color);

      &:decrement:hover {
        background-image: get-arrow-left($scrollbar-button-color-hover);
      }

      &:increment {
        background-image: get-arrow-right($scrollbar-button-color);
      }

      &:increment:hover {
        background-image: get-arrow-right($scrollbar-button-color-hover);
      }
    }
  }
}
