/*! * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  * Copyright (c) 2022.  Hochschule Stralsund – University of Applied Sciences
  * The following Code is licensed under the GNU General Public License (GPL) v3.0.
  * https://gitlab.com/wedemann-group/chromatin3d-visualizer/-/blob/master/LICENSE
  *
  * Corresponding Person:
  *     Prof. Gero Wedemann <gero.wedemann@hochschule-stralsund.de>
  *
  * Contributors:
  *     Leif-Kristof Schultz <contact@lui-studio.net>
  *     Frederic Bauer
  *     Janne Wernecken
  *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/
@use 'sass:math';

$keyframe-size: 40px;

.keyframe-movable {
  position: absolute;
  width: $keyframe-size;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: move;
}

.keyframe-boundary {
  position: relative;
  height: 80px;
  transform: translateX(math.div(-$keyframe-size, 2));
}

.keyframe-movable:active .keyframe,
.keyframe:active {
  background-color: #58d9ff;

  /* prettier-ignore */
  box-shadow:
    0 5px 5px -3px rgb(0 0 0 / 0.2),
    0 8px 10px 1px rgb(0 0 0 / 0.14),
    0 3px 14px 2px rgb(0 0 0 / 0.12);
}

.keyframe {
  display: block;
  background-color: #2470b3;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);

  /* prettier-ignore */
  box-shadow:
    0 3px 1px -2px rgba(0 0 0 / 0.2),
    0 2px 2px 0 rgb(0 0 0 / 0.14),
    0 1px 5px 0 rgb(0 0 0 / 0.12);
}

.keyframe-holder {
  overflow-x: auto;
  border: dotted #ccc 2px;
}

.fieldset-editor {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
}

.context-menu-holder {
  visibility: hidden;
  position: fixed;
}

.current-time {
  position: absolute;
  background-color: #2470b3;
  width: 1px;
  height: 100%;
  top: 0;
  bottom: 0;
  transform: translateX(math.div($keyframe-size, 2));
}
