/*! * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  * Copyright (c) 2022.  Hochschule Stralsund – University of Applied Sciences
  * The following Code is licensed under the GNU General Public License (GPL) v3.0.
  * https://gitlab.com/wedemann-group/chromatin3d-visualizer/-/blob/master/LICENSE
  *
  * Corresponding Person:
  *     Prof. Gero Wedemann <gero.wedemann@hochschule-stralsund.de>
  *
  * Contributors:
  *     Leif-Kristof Schultz <contact@lui-studio.net>
  *     Frederic Bauer
  *     Janne Wernecken
  *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

:host {
  .tab-page-grid:not(.xs) {
    grid-template-columns: auto 1fr;
  }

  .file-name {
    word-wrap: anywhere;
  }

  .parents {
    font-size: 80%;

    & > *:nth-of-type(n + 2) {
      margin-left: 1.5rem;
    }
  }
}
