/*! * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  * Copyright (c) 2022.  Hochschule Stralsund – University of Applied Sciences
  * The following Code is licensed under the GNU General Public License (GPL) v3.0.
  * https://gitlab.com/wedemann-group/chromatin3d-visualizer/-/blob/master/LICENSE
  *
  * Corresponding Person:
  *     Prof. Gero Wedemann <gero.wedemann@hochschule-stralsund.de>
  *
  * Contributors:
  *     Leif-Kristof Schultz <contact@lui-studio.net>
  *     Frederic Bauer
  *     Janne Wernecken
  *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

.microscope-slide {
  display: block;
  margin-top: 2rem;
}

.slider {
  display: flex;
  flex-direction: row;
  align-items: center;

  & > span:first-of-type {
    flex: 1;
    margin-right: 0.75em;
  }

  & > span:nth-of-type(2) {
    width: 70px;
  }

  .mat-slider-horizontal {
    width: 100%;
    margin-bottom: 0.3rem;
    cursor: pointer;
    min-width: 100px;
  }

  .mat-form-current-index {
    width: 100%;
  }

  .maximum-value {
    margin-bottom: 0.3rem;
    min-width: 70px;
  }
}
