/*! * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  * Copyright (c) 2022.  Hochschule Stralsund – University of Applied Sciences
  * The following Code is licensed under the GNU General Public License (GPL) v3.0.
  * https://gitlab.com/wedemann-group/chromatin3d-visualizer/-/blob/master/LICENSE
  *
  * Corresponding Person:
  *     Prof. Gero Wedemann <gero.wedemann@hochschule-stralsund.de>
  *
  * Contributors:
  *     Leif-Kristof Schultz <contact@lui-studio.net>
  *     Frederic Bauer
  *     Janne Wernecken
  *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

:host {
  .no-margin-title {
    margin-bottom: 5px;
  }

  .paper-info {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.2rem 1rem;
    margin-bottom: 1.5rem;
    padding: 0 32px; // defined in mat-dialog-title
  }

  .authors > *:nth-of-type(n + 2) {
    margin-left: 1rem;
  }

  .dialog-content {
    max-height: 55vh;

    &.has-paper-info {
      max-height: 45vh;
    }
  }
}
