/*! * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  * Copyright (c) 2022.  Hochschule Stralsund – University of Applied Sciences
  * The following Code is licensed under the GNU General Public License (GPL) v3.0.
  * https://gitlab.com/wedemann-group/chromatin3d-visualizer/-/blob/master/LICENSE
  *
  * Corresponding Person:
  *     Prof. Gero Wedemann <gero.wedemann@hochschule-stralsund.de>
  *
  * Contributors:
  *     Leif-Kristof Schultz <contact@lui-studio.net>
  *     Frederic Bauer
  *     Janne Wernecken
  *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

:host {
  .tab-page-grid:not(.xs) {
    grid-template-columns: minmax(75px, 1fr) minmax(50px, 3fr);
  }

  .button {
    width: 100%;
  }

  .list {
    margin: 0;
    padding-inline-start: 15px;
  }

  .point-coordinate-list {
    margin: 0;
    padding-inline-start: 0;
    list-style-type: none;
  }

  .mat-form-field-line-width {
    max-width: 70px;
  }

  .visual-options {
    margin-top: 1.5rem;
  }
}
