/*! * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  * Copyright (c) 2022.  Hochschule Stralsund – University of Applied Sciences
  * The following Code is licensed under the GNU General Public License (GPL) v3.0.
  * https://gitlab.com/wedemann-group/chromatin3d-visualizer/-/blob/master/LICENSE
  *
  * Corresponding Person:
  *     Prof. Gero Wedemann <gero.wedemann@hochschule-stralsund.de>
  *
  * Contributors:
  *     Leif-Kristof Schultz <contact@lui-studio.net>
  *     Frederic Bauer
  *     Janne Wernecken
  *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

@use 'sass:math';

@mixin scrollbar {
  $scrollbar-size: 12px;
  $scrollbar-size-half: math.div($scrollbar-size, 2);
  $scrollbar-buttons-size: $scrollbar-size;

  ::-webkit-scrollbar {
    width: $scrollbar-size;
    height: $scrollbar-size;
  }

  ::-webkit-scrollbar-corner {
    background: var(--trj-theme-scrollbar-background-color);
  }

  ::-webkit-scrollbar-button {
    // source: https://stackoverflow.com/a/52361343 and https://stackoverflow.com/a/66050759
    &:single-button {
      display: block;
      background-color: var(--trj-theme-scrollbar-background-color);
      height: $scrollbar-buttons-size;
      width: $scrollbar-buttons-size;

      &:vertical,
      &:horizontal {
        width: $scrollbar-size;
        height: $scrollbar-size;
        background-size: calc($scrollbar-size - 4px) calc($scrollbar-size - 4px);
        background-repeat: no-repeat;
      }

      &:vertical {
        background-position: center 5px;
      }

      &:horizontal {
        background-position: 3px center;
      }
    }
  }

  ::-webkit-scrollbar-track {
    background: var(--trj-theme-scrollbar-background-color);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--trj-theme-scrollbar-thumb);

    &:hover {
      background: var(--trj-theme-scrollbar-thumb-hover);
    }
  }
}
