/*! * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  * Copyright (c) 2022.  Hochschule Stralsund – University of Applied Sciences
  * The following Code is licensed under the GNU General Public License (GPL) v3.0.
  * https://gitlab.com/wedemann-group/chromatin3d-visualizer/-/blob/master/LICENSE
  *
  * Corresponding Person:
  *     Prof. Gero Wedemann <gero.wedemann@hochschule-stralsund.de>
  *
  * Contributors:
  *     Leif-Kristof Schultz <contact@lui-studio.net>
  *     Frederic Bauer
  *     Janne Wernecken
  *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

@import 'goldenlayout-base.css';
@import 'goldenlayout-light-theme';
@import 'variables';
@import 'scrollbar-style';

%tab-content-margin {
  margin-top: 2rem;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

fieldset {
  border: 1px solid var(--trj-theme-secondary-600);
  padding: 1.2rem 1.2rem 1rem;
  border-radius: 4px;

  & legend {
    font-weight: 500;
    padding: 0 15px;
    margin-left: -14px;
    transform: translateY(2px);
  }

  &:nth-of-type(n + 2) {
    @extend %tab-content-margin;
  }
}

[app-disabled] {
  opacity: 0.9;
  pointer-events: none !important;
  filter: grayscale(0.5);

  // angular > 14 strange layout
  mat-slider * {
    pointer-events: none !important;
  }

  &.top::after {
    content: '';
    display: block;
    position: absolute;
    background-image: url('assets/disabled.png');
    inset: 0;
    opacity: 0.1;
  }
}

@include scrollbar;

// angular > 14 strange layout
.padding-remover.mat-mdc-form-field[appearance='outline']
  .mat-mdc-form-field-subscript-wrapper {
  height: 0;
}

.center {
  text-align: center;
  justify-self: center;
}

.rotated-180-degree {
  transform: rotateY(180deg);
}

.tab-page {
  padding: $page-padding-top-bottom $page-padding-left-right;
  min-height: calc(100% - (#{$page-padding-top-bottom * 2}));
}

.custom-color-picker {
  display: inline-block;
  background: var(--trj-theme-secondary-background);
  padding: 5px;
  margin-top: 4px;
  border-radius: 1px;
  box-shadow: 0 0 0 1px var(--trj-theme-secondary-600);
  cursor: pointer;

  & > span {
    display: block;
    width: 40px !important;
    min-width: 20px !important;
    height: 15px !important;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }
}

.color-picker {
  background-color: var(--trj-theme-background) !important;
  color: var(--trj-theme-color) !important;
  z-index: 150 !important;

  & .cmyk-text .box div,
  & .hsla-text .box div,
  & .rgba-text .box div,
  & .value-text .box div,
  & .preset-area .preset-label,
  & .hex-text .box div {
    color: unset !important;
  }

  & input {
    background-color: var(--trj-theme-secondary-800);
    border: 1px solid var(--trj-theme-secondary-700) !important;
    color: unset !important;
  }
}

.tab-page-table-grid {
  display: grid;
  grid-template-columns: minmax(50px, 1fr) minmax(50px, 3fr);
  column-gap: 1rem;
  row-gap: 0.5rem;

  > * {
    align-self: center;
  }

  > .two-cols {
    grid-column: span 2;
  }
}

.stats > * {
  position: absolute !important;
  left: unset !important;
  right: 0;
  z-index: 100 !important;
}

.tab-margin:nth-child(n + 2) > * {
  @extend %tab-content-margin;
}

.tab-page-table {
  display: table;
  border-collapse: separate;
  border-spacing: 0.6rem;

  .full-row {
    display: table-row;

    > * {
      width: 100%;
    }
  }

  .row {
    display: table-row;

    > * {
      display: table-cell;
      vertical-align: middle;
      margin: 0.2rem 0;
    }

    > *:first-child {
      padding-right: 1rem;
      word-break: break-word;
    }

    .label {
      min-width: 30px;
    }

    &.subcategory > .label {
      padding-left: 1rem;
    }

    .value {
      font-weight: bold;

      .mat-checkbox {
        padding-bottom: 3px;
      }
    }
  }
}

.tab-page-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

  & > * {
    align-self: center;
  }

  .single-row {
    grid-column: 1 / 3;
  }

  .subcategory {
    padding-left: 1rem;
  }

  &.xs {
    grid-template-columns: 1fr;
    grid-row-gap: 0.25rem;

    .single-row {
      grid-column: 1;
    }

    .subcategory + .value {
      padding-left: 1rem;
    }

    .single-row,
    .label + * {
      margin-bottom: 2rem;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }
}

.jet-brains-link,
.jet-brains-link:visited {
  color: var(--trj-link-color);
  text-decoration: none;
}

.jet-brains-link:hover {
  text-decoration: underline;
}

.lui-link,
.lui-link:visited {
  color: #0d7c59;
  font-weight: bold;
  text-decoration: underline;
  transition: color 1s ease;
}

.lui-link:hover {
  color: #16cc92;
  text-decoration: underline;
}

.mat-mdc-menu-panel.mat-mdc-menu-panel {
  max-width: 380px !important;
}

.mat-mdc-checkbox {
  transform: translateX(-10px);
}
