/*! * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  * Copyright (c) 2022.  Hochschule Stralsund – University of Applied Sciences
  * The following Code is licensed under the GNU General Public License (GPL) v3.0.
  * https://gitlab.com/wedemann-group/chromatin3d-visualizer/-/blob/master/LICENSE
  *
  * Corresponding Person:
  *     Prof. Gero Wedemann <gero.wedemann@hochschule-stralsund.de>
  *
  * Contributors:
  *     Leif-Kristof Schultz <contact@lui-studio.net>
  *     Frederic Bauer
  *     Janne Wernecken
  *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

:host {
  display: block;
  overflow: hidden;

  .pop-up {
    display: flex;
    position: relative;
    background: var(--trj-theme-background);
    border: 1px solid var(--trj-theme-secondary-600);
    border-radius: 5px;
    flex-direction: row;
    padding: 0.5rem;
    width: 270px;
    font-size: 105%;
    box-shadow: 0 0 2px 0 rgb(209 209 209 / 0.75);
  }

  .icon {
    font-size: 18px;
    margin-top: 1px;
  }

  .content {
    display: flex;
    flex-direction: column;
    margin-left: 0.75rem;

    .description {
      margin-top: 0.2rem;
      font-size: 90%;
    }
  }

  .button-close {
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0.7);
  }
}
