/*! * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  * Copyright (c) 2022.  Hochschule Stralsund – University of Applied Sciences
  * The following Code is licensed under the GNU General Public License (GPL) v3.0.
  * https://gitlab.com/wedemann-group/chromatin3d-visualizer/-/blob/master/LICENSE
  *
  * Corresponding Person:
  *     Prof. Gero Wedemann <gero.wedemann@hochschule-stralsund.de>
  *
  * Contributors:
  *     Leif-Kristof Schultz <contact@lui-studio.net>
  *     Frederic Bauer
  *     Janne Wernecken
  *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

@import 'src/variables';

:host {
  .tab-page-grid:not(.xs) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, minmax(40px, auto));
  }

  .sub-options {
    margin-top: 2rem;

    &.xs {
      margin: 2rem 0 0;
    }
  }

  .mat-form-interval {
    width: 100px;
  }

  ::ng-deep {
    .numeric-box {
      width: 100px;
    }

    .mat-icon-button {
      transition: filter 0.5s, opacity 0.5s;
    }

    .mat-icon-button.mat-button-disabled {
      filter: grayscale(0.8);
      opacity: 0.4;
    }
  }
}
